@model IEnumerable<ConcremoteDeviceManagment.Models.Device_statustypes>

@{
    ViewBag.Title = "Device status soorten";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Device status soorten</h2>

<p>
    @*@Html.ActionLink("Maak nieuw status", "Create")*@
    <button onclick="location.href='@Url.Action("Create", "Device_statustypes")';return false;" class="btn btn-primary">Maak nieuwe status</button>

</p>
<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayName("Status Naam")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            <button onclick="location.href='@Url.Action("Edit", "Device_statustypes", new { id=item.id})';return false;" class="btn btn-primary">Edit</button>
            <button onclick="location.href='@Url.Action("Delete", "Device_statustypes", new { id=item.id})';return false;" class="btn btn-danger">Delete</button>
        </td>
    </tr>
}

</table>
