@model IEnumerable<ConcremoteDeviceManagment.Models.Device_statustypes>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Status Naam")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.name)
        </td>
        <td>
            <button onclick="location.href='@Url.Action("Edit", "Device_statustypes", new { id=item.id})';return false;" class="btn btn-primary">Edit</button>
            <button onclick="location.href='@Url.Action("Details", "Device_statustypes", new { id=item.id})';return false;" class="btn btn-info">Details</button>
            <button onclick="location.href='@Url.Action("Delete", "Device_statustypes", new { id=item.id})';return false;" class="btn btn-danger">Delete</button>
        </td>
    </tr>
}

</table>
