
@{
    ViewBag.Title = "DeleteImages";
}

<h2>DeleteImages</h2>
@if (TempData["AlertMessage"] != null)
{
    <p class="alert alert-danger" id="successMessage">@TempData["AlertMessage"]</p>
}
@if (TempData["SuccesMessage"] != null)
{
    <p class="alert alert-success" id="successMessage">@TempData["SuccesMessage"]</p>
}
@using (Html.BeginForm("DeleteImages", "Slider", FormMethod.Post))
{
    <table class="table table-hover">
        <thead style="background-color: #337ab7">
            <tr>
                <th>
                @Html.DisplayName("Select")
                </th>
                <th>
                    @Html.DisplayName("Image")
                </th>
            </tr>
        </thead>
        <tbody>
            @Html.EditorForModel()
        </tbody>
    </table>
    <input type="submit" value="Delete Selected Images" class="btn btn-danger" />
}
<button onclick="location.href='@Url.Action("Index", "Slider")';return false; " class="btn btn-primary">Back to list</button>


