@model ConcremoteDeviceManagment.Models.DeviceConfig

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Device Type")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DeviceType.name)
        </dd>
        <dt>
            @Html.DisplayName("Versie")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VersionNr)
        </dd>
        <dt>
            @Html.DisplayName("Datum")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>
        @using (Html.BeginForm())
        {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <button onclick="location.href='@Url.Action("Index", "Home")';return false; " class="btn btn-primary">Back to list</button>
    </div>
        }
</div>
