@model ConcremoteDeviceManagment.Models.DeviceConfig


<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 class="modal-title">Delete Device Status</h3>
</div>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="modal-body">

        <div class="form-horizontal">
            <div class="form-group">
                @Html.Label("Device Type", new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.DeviceType.name, new { @class = "form-control required", @disabled = "disabled" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Version Nr", new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.VersionNr, new { @class = "form-control required", @disabled = "disabled" })
                </div>
            </div>
            <div class="form-group">
                @Html.Label("Date", new { @class = "control-label col-sm-3" })
                <div class="col-sm-9">
                    @Html.TextBoxFor(m => m.Date, new { @class = "form-control required", @disabled = "disabled" })
                </div>
            </div>
            
            <div class="form-group">
                <div class="col-sm-9 col-sm-offset-3">
                    <h3>
                        <span class="label label-danger">
                            Are you sure to delete this Device Type?
                        </span>
                    </h3>
                </div>
            </div>
        </div>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" data-dismiss="modal">No</button>
        <input class="btn btn-danger" type="submit" value="Yes" />
    </div>
}
@*<h3>Are you sure you want to delete this?</h3>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayName("Device Type")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DeviceType.name)
            </dd>
            <dt>
                @Html.DisplayName("Versie")
            </dt>

            <dd>
                @Html.DisplayFor(model => model.VersionNr)
            </dd>
            <dt>
                @Html.DisplayName("Datum")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>
        </dl>
            @using (Html.BeginForm())
            {
            @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" /> |
            <button onclick="location.href='@Url.Action("Index", "Home")';return false; " class="btn btn-primary">Back to list</button>
        </div>
            }
    </div>*@