@model IEnumerable<ConcremoteDeviceManagment.Models.DeviceConfig>

<p>
      @*@Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th class="hidden">

        </th>
        @*<th>
            @Html.DisplayName("Device naam")
        </th>*@
        <th>
            @Html.DisplayName("BAS artikelnummer")
        </th>
        <th>
            @Html.DisplayName("Prijs")
        </th>
        <th>
            @Html.DisplayName("Beschrijving")
        </th>
        <th>
            @Html.DisplayName("Aantal")
        </th>
        <th>
            @Html.DisplayName("Bouw Volgorde")
        </th>
        <th></th>
    </tr>
      @foreach (var item in Model){
    <tr>

        @*<td>
            <i>@Html.DisplayFor(modelItem => item.DeviceType.name) </i>
        </td>*@
        <td>
            @Html.DisplayFor(modelItem => item.Pricelist.bas_art_nr)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pricelist.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pricelist.description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.amount)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.assembly_order)
        </td>
        <td>
            <button onclick="location.href='@Url.Action("Edit", "Home", new { id=item.Device_config_id})';return false;" class="btn btn-primary">Edit</button>
           @* <button onclick="location.href='@Url.Action("GetDevice")';return false;" class="btn btn-info">Details</button>*@
            <button onclick="location.href='@Url.Action("Delete", "Home", new {id=item.Device_config_id})';return false;" class="btn btn-danger">Delete</button>
        </td>
    </tr>
    }

</table>
