@model IEnumerable<ConcremoteDeviceManagment.Models.DeviceConfig>
@{

//Layout = "~/Views/Home/Index.cshtml";
}

<p>
    @*  @Html.ActionLink("Create New", "Create")*@
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Device naam")
        </th>
        <th>
            @Html.DisplayName("BAS artikelnummer")
        </th>
        <th>
            @Html.DisplayName("Prijs")
        </th>
        <th>
            @Html.DisplayName("Beschrijving")
        </th>
        <th>
            @Html.DisplayName("Aantal")
        </th>
        <th>
            @Html.DisplayName("Bouw Volgorde")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <i>@Html.DisplayFor(modelItem => item.DeviceType.name) </i>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pricelist.bas_art_nr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pricelist.price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pricelist.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.amount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.assembly_order)
            </td>
        </tr>
    }
</table>
<script>
    $("#SelectedDevice").change( function (event) {
          var device_type_id = $(this).val();
            $.ajax({
                url: "@Url.Action("GetDevice", "Home")",
                data: { id : device_type_id },
                type: "Get",
                dataType: "html",
                success: function (data) {
                //Whatever result you have got from your controller with html partial view replace with a specific html.
                $("#divPartialView").html( data ); // HTML DOM replace
                }
                });
                });
</script>