@model ConcremoteDeviceManagment.Models.DeviceConfig

<p>
    @*@Html.ActionLink("Create New", "Create")*@
</p>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<table class="table">
    
    @Html.ValidationSummary()
    @Html.HiddenFor(model => model.Device_config_id)

    <tr>
        <th class="table-row">
            @Html.DisplayName("BAS artikelnummer")
        </th>
        <th class="table-row">
            @Html.DisplayName("Prijs")
        </th>
        <th class="table-row">
            @Html.DisplayName("Beschrijving")
        </th>
        <th class="table-row">
            @Html.DisplayName("Aantal")
        </th>
        <th class="table-row">
            @Html.DisplayName("Bouw Volgorde")
        </th>
        <th class="table-row"></th>
    </tr>

    <tr>

        <td class="hidden">
            @Html.HiddenFor(model => model.device_type_id)
        </td>
        <td class="table-row">
            @Html.DisplayFor(model => model.Pricelist.bas_art_nr)
        </td>
        <td class="table-row">
            <p id="#Price">@Html.DisplayFor(model => model.Pricelist.Price)</p>
        </td>
        <td class="table-row">
            <p id="#description">@Html.DisplayFor(model => model.Pricelist.description)</p>
        </td>
        <td class="table-row">
            @Html.EditorFor(model => model.amount, new { htmlAttributes = new { @class = "form-control" } })
        </td>
        <td class="table-row">
            @Html.EditorFor(model => model.assembly_order, new { htmlAttributes = new { @class = "form-control" } })
        </td>
        <td class="hidden">
            @Html.HiddenFor(model => model.device_type)
        </td>
        <td class="table-row">
            @*    <button onclick="location.href='@Url.Action("Delete", "Home", new { id = Device_config_id })';return false;" class="btn btn-danger">Delete</button>*@
        </td>
        <td></td>
    </tr>

</table>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" id="Save" class="btn btn-default" />
        </div>
    </div>
}
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }


<script type="text/javascript">
    $(function(){
        $("#EditDevice").change(function () {

            var Pricelist = { "Price, description": $(this).val() };
            $.ajax({
                type: 'POST',
                url: '@Url.Action("FillDeviceInfo")', // we are calling json method
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                data: { "Price, description": $(this).val() },


                success: function (ret) {
                    //$('#Dates').val(ret.courseDates);
                    $('#Price').html(ret.Pricelist);
                    $('#description').html(ret.description);

                },
                error: function (ex) {
                    alert("Something is wrong, go fix it!!");
                }
            });

            return false;
        });
    });

</script>