@model IEnumerable<ConcremoteDeviceManagment.Models.Device_Pricelist>

@{
    ViewBag.Title = "Change DeviceConfig";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<script type="text/javascript" src="~/Scripts/jquery-3.3.1.js"></script>
<h2>Overzicht configuraties</h2>
<p>
</p>
@{
    if (TempData["SuccesMessage"] != null)
    {
        <p class="alert alert-success" id="successMessage">@TempData["SuccesMessage"]</p>
    }
}
<table class="table table-hover">
    <tr class="table d-table-row">
        <th>
            @Html.DisplayName("Device Naam")
        </th>
        <th>
            @Html.DisplayName("Versie nummer")
        </th>
        <th>
            @Html.DisplayName("Versie datum")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceConfig.DeviceType.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceConfig.VersionNr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DeviceConfig.Date)
            </td>
            <td>
                <button onclick="location.href='@Url.Action("Edit", "Home", new { id = item.Device_config_id })';return false;" class="btn btn-primary">Edit</button>
                @*<button onclick="location.href='@Url.Action("Delete", "DeviceTypes", new { id=item.device_type_id})';return false;" class="btn btn-danger">Delete</button>*@
            </td>
        </tr>}
</table>