@model ConcremoteDeviceManagment.Models.ConcremoteDevice

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ConcremoteDevice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Device Type")
        </dt>
        <dd>
        </dd>

        <dt>
            @Html.DisplayName("model => model.device_id")
        </dt>

        <dd>
        </dd>

        <dt>
            @Html.DisplayName("Imei")
        </dt>

        <dd>
        </dd>

        <dt>
            @Html.DisplayName("Active")
        </dt>

        <dd>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.oldsystem_concremote)
        </dt>

        <dd>
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Allowvalidation)
        </dt>

        <dd>
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
