@model ConcremoteDeviceManagment.Models.DeviceStatus

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>
        @Html.DisplayFor(model => model.DeviceConfig.DeviceType.name)<br />
        @Html.DisplayFor(model => model.ConcremoteDevice.id)
    </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Device Serie Nummer")
        </dt>
        <dd>          
            @Html.DisplayFor(model => model.ConcremoteDevice.id)            
        </dd>
        <dt>
            @Html.DisplayName("Device Type")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeviceConfig.DeviceType.name)
        </dd>
        <dt>
            @Html.DisplayName("SIM Nummer")
        </dt>
        <dd>
            204086526062561
        </dd>
        <dt>
            @Html.DisplayName("IMEI nummer")
        </dt>
        <dd>
            G356896031635684
        </dd>
        <dt>
            @Html.DisplayName("Bluetooth ID")
        </dt>
        <dd>
            1
        </dd>
        <dt>
            @Html.DisplayName("Telefoon")
        </dt>
        <dd>
            0031653102699
        </dd>
        <dt>
            @Html.DisplayName("Medewerker 1")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee_1)
        </dd>
        <dt>
            @Html.DisplayName("Medewerker 2")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee_2)
        </dd>
        <dt>
            @Html.DisplayName("SignDate")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sign_Date)
        </dd>
        <dt>
            @Html.DisplayName("Status")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Device_Statustypes.name)
        </dd>
        <dt>
            @Html.DisplayName("Onderdeellijst")
        </dt>
        <dd>
        <dd>
            <table class="table table-hover">
                <tr>
                    <th class="table-row">
                        @Html.DisplayName("BAS artikelnummer")
                    </th>
                    <th class="table-row">
                        @Html.DisplayName("Beschrijving")
                    </th>
                    <th class="table-row">
                        @Html.DisplayName("Aantal")
                    </th>
                    <th class="table-row">
                        @Html.DisplayName("Bouw Volgorde")
                    </th>
                    <th class="table-row"></th>
                </tr>
                @*@foreach (var item in Model)
                    {*@
                <tr>
                    <td>
                        CMI100
                    </td>
                    <td>
                        Schroef
                    </td>
                    <td>12</td>
                    <td>1</td>
                </tr>
                @* }*@
            </table>
        </dd>
    </dl>
</div>
<p>
    @* @Html.ActionLink("Edit", "Edit", new { id = Mode }) |*@
    <button onclick="location.href='@Url.Action("Index", "Concremote")';return false; " class="btn btn-primary">Back to list</button>
</p>