@model ConcremoteDeviceManagment.Models.DeviceStatus

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>
        @Html.DisplayFor(model => model.DeviceConfig.DeviceType.name)<br />
        @Html.DisplayFor(model => model.ConcremoteDevice.id)
    </h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Device Serie Nummer")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ConcremoteDevice.id)
        </dd>
        <dt>
            @Html.DisplayName("Device Type")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeviceConfig.DeviceType.name)
        </dd>
        <dt>
            @Html.DisplayName("SIM Nummer")
        </dt>
        <dd>
            whut
        </dd>
        <dt>
            @Html.DisplayName("IMEI nummer")
        </dt>
        <dd>
            G356896031635684
        </dd>
        <dt>
            @Html.DisplayName("Bluetooth ID")
        </dt>
        <dd>
            1
        </dd>
        <dt>
            @Html.DisplayName("Telefoon")
        </dt>
        <dd>
            0031653102699
        </dd>
        <dt>
            @Html.DisplayName("Medewerker 1")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee_1)
        </dd>
        <dt>
            @Html.DisplayName("Medewerker 2")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Employee_2)
        </dd>
        <dt>
            @Html.DisplayName("SignDate")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Sign_Date)
        </dd>
        <dt>
            @Html.DisplayName("Status")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Device_Statustypes.name)
        </dd>
        <dt>
            @Html.DisplayName("Onderdeellijst")
        </dt>

        <dd>
            @Html.Action("ConfigPartial", "Concremote")
        </dd>
    </dl>
</div>
<p>
    @* @Html.ActionLink("Edit", "Edit", new { id = Mode }) |*@
    <button onclick="location.href='@Url.Action("Index", "Concremote")';return false; " class="btn btn-primary">Back to list</button>
    <button onclick="location.href='@Url.Action("Edit", "Concremote",  new { id = Model.id })';return false; " class="btn btn-primary">Edit</button>
</p>