@model ConcremoteDeviceManagment.Models.ConcremoteDevice

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>ConcremoteDevice</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Device Serie Nummer")
        </dt>
        <dd>
            FS120180220
        </dd>
        <dt>
            @Html.DisplayName("Device Type")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DeviceType.name)
        </dd>
        <dt>
            @Html.DisplayName("SIM Nummer")
        </dt>
        <dd>
            204086526062561
        </dd>
        <dt>
            @Html.DisplayName("IMEI nummer")
        </dt>
        <dd>
            G356896031635684
        </dd>

        <dt>
            @Html.DisplayName("Bluetooth ID")
        </dt>

        <dd>
        </dd>

        <dt>
            @Html.DisplayName("Telefoon")
        </dt>
        <dd>
            0031653102699
        </dd>
        <dt>
            @Html.DisplayName("Onderdeellijst, met identificatie")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.active)
        </dd>
        <dt>
            @Html.DisplayName("Status")
        </dt>
        <dd>
            @*@Html.DisplayFor(model => model.)*@
        </dd>
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
