@model IEnumerable<ConcremoteDeviceManagment.Models.ConcremoteDevice>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DeviceType.name)
        </th>
        
        <th>
            @Html.DisplayNameFor(model => model.imei)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.active)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.oldsystem_concremote)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Allowvalidation)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.device_type_id)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DeviceType.name)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.imei)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.oldsystem_concremote)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Allowvalidation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.device_type_id)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
