@model IEnumerable<ConcremoteDeviceManagment.Models.ConcremoteDevice>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DeviceType.name)
        </th>
        
        <th>
            @Html.DisplayName("IMEI Nummer")
        </th>
        <th>
            @Html.DisplayName("In Gebruik")
        </th>
        <th>
            @Html.DisplayName("Concremote OldSystem")
        </th>
        <th>
            @Html.DisplayName("Validatie Toegestaan")
        </th>
        <th>
            @Html.DisplayName("something")
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DeviceType.name)
        </td>
        
        <td>
            @Html.DisplayFor(modelItem => item.imei)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.active)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.oldsystem_concremote)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Allowvalidation)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.device_type_id)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Devicestatus.Device_statustypes.description)
        </td>
        <td>
            <button onclick="location.href='@Url.Action("Edit", "Concremote", new { id=item.id})';return false;" class="btn btn-primary">Edit</button>
            <button onclick="location.href='@Url.Action("Details", "Concremote", new { id=item.id})';return false;" class="btn btn-info">Details</button>
            <button onclick="location.href='@Url.Action("Delete", "Concremote", new { id=item.id})';return false;" class="btn btn-danger">Delete</button>
        </td>
    </tr>
}

</table>
