@model IEnumerable<ConcremoteDeviceManagment.Models.DeviceStatus>

@{
    ViewBag.Title = "DeviceLijst";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (User.IsInRole("Assembly") || User.IsInRole("Admin") || User.IsInRole("StandardUser") || User.IsInRole("BAS employee"))
{
    <h2>Devices</h2>
    using (Html.BeginForm("Index", "Concremote", FormMethod.Get))
    {
        <p>
            <b>Serie nummer:</b> @Html.Editor("searchString", new { htmlAttributes = new { @class = "search-control" } })
            <input type="submit" value="Zoek serie nummer" class="btn btn-primary" />
        </p>
    }
    if (TempData["AlertMessage"] != null)
    {
        <p class="alert alert-success" id="successMessage">@TempData["AlertMessage"]</p>
    }
    <table class="table table-hover">
        <tr>
            <th>
                @Html.ActionLink("Serie Nummer", "Index", new { sortOrder = ViewBag.DeviceParm })
            </th>
            <th>
                @Html.ActionLink("Device Naam", "Index", new { sortOrder = ViewBag.DeviceTypeSortParm })
            </th>
            <th>
                @Html.ActionLink("In Gebruik", "Index", new { sortOrder = ViewBag.ActiveSort })
            </th>
            <th>
                @Html.ActionLink("Config Versie", "Index", new { sortOrder = ViewBag.VersionSort })
            </th>
            <th>
                @Html.ActionLink("Config Datum", "Index", new { sortOrder = ViewBag.ConfigDateSort })
            </th>
            <th>
                @Html.ActionLink("Status", "Index", new { sortOrder = ViewBag.StatusSort })
            </th>
            <th>
                @Html.ActionLink("Status Datum", "Index", new { sortOrder = ViewBag.StatusDateSort })
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ConcremoteDevice.id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeviceConfig.DeviceType.name)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ConcremoteDevice.Active)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeviceConfig.VersionNr)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DeviceConfig.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Device_Statustypes.name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sign_Date)
                </td>
                @if (User.IsInRole("Assembly") || User.IsInRole("Admin"))
                {
                    <td>
                        <button onclick="location.href='@Url.Action("Edit", "Concremote", new { id=item.id})';return false;" class="btn btn-primary">Edit</button>
                        <button onclick="location.href='@Url.Action("Details", "Concremote", new { id=item.id})';return false;" class="btn btn-info">Details</button>
                        <button onclick="location.href='@Url.Action("Delete", "Concremote", new { id=item.id})';return false;" class="btn btn-danger">Delete</button>
                    </td>
                }
                else
                {
                    <td> </td>
                }
            </tr>
        }
    </table>
}
else
{
    //Html.Action("Login", "Account");
    Response.Redirect("~/Account/Login");
}