@model ConcremoteDeviceManagment.Models.Device_extra_info

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Device_extra</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Pricelist.CategoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pricelist.CategoryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ConcremoteDevice.id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ConcremoteDevice.id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Datum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Datum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Active)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Active)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Eigenschap_id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Eigenschap_id)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
