@model ConcremoteDeviceManagment.Models.IndexViewModel
@{
    ViewBag.Title = "Manage";
}

<h2>@ViewBag.Title.</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <h4>Change your account settings</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>Password:</dt>
        <dd>
            @if (Model.HasPassword)
             {
        @*@Html.ActionLink("Change your password", "ChangePassword")*@
                <button onclick="location.href='@Url.Action("ChangePassword", "Manage")';return false;" class="btn btn-primary">Change Password</button>
             }
            else
            {
                <button onclick="location.href='@Url.Action("SetPassword", "Manage")';return false;" class="btn btn-primary">Create</button>

            }
        </dd>
       <dt>
             
       </dt>
        <dd>
              
        </dd>
        <dt>Manage Accounts</dt>
        <dd>
            <p>
                @*@Html.ActionLink("test", "ManageAccounts", "Manage", routeValues: null, htmlAttributes: new { id = "manageLink" })*@
                <button onclick="location.href='@Url.Action("ManageAccounts", "Manage")';return false;" class="btn btn-primary">Manage Accounts</button>
            </p>
            @*@if (Model.TwoFactor)
        {
            using (Html.BeginForm("DisableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <text>Enabled
                <input type="submit" value="Disable" class="btn btn-link" />
                </text>
            }
        }
        else
        {
            using (Html.BeginForm("EnableTwoFactorAuthentication", "Manage", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
            {
                @Html.AntiForgeryToken()
                <text>Disabled
                <input type="submit" value="Enable" class="btn btn-link" />
                </text>
            }
        }*@
        </dd>
    </dl>
</div>
