@model IEnumerable<ConcremoteDeviceManagment.Models.AspNetUserRoles>
@{
    ViewBag.Title = "Accounts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Accounts</h2>
@if (TempData["AlertMessage"] != null)
{
    <p class="alert alert-success" id="successMessage">@TempData["AlertMessage"]</p>
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table table-hover">
    <tr>
        <th>
            @Html.DisplayName("Email")
        </th>
        <th>
            @Html.DisplayName("Gebruikerslevel")
        </th>
        <th>
            @Html.DisplayName("Banned einddatum")
        </th>
        <th>
            @Html.DisplayName("Aantal mislukte inlogpogingen")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUsers.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetRoles.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUsers.LockoutEndDateUtc)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUsers.AccessFailedCount)
            </td>
            <td>
                <button onclick="location.href='@Url.Action("UserEdit","Manage", new { id=item.UserId})';return false;" class="btn btn-primary">Edit</button>
                @*@Html.ActionLink("UserEdit", "UserEdit")*@
            </td>
        </tr>
    }
</table>
<button onclick="location.href='@Url.Action("Index", "Manage")';return false; " class="btn btn-primary">Back to user menu</button>