@model IEnumerable<ConcremoteDeviceManagment.Models.AspNetUserRoles>
@{
    ViewBag.Title = "Accounts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Accounts</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Email")
        </th>
        <th>
            @Html.DisplayName("Gebruikerslevel")
        </th>
        <th>
            @Html.DisplayName("Email Besvestigd")
        </th>
        <th>
            @Html.DisplayName("Banned einddatum")
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUsers.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetRoles.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUsers.EmailConfirmed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AspNetUsers.LockoutEndDateUtc)
            </td>
            <td>
                <button onclick="location.href='@Url.Action("Edit", "Manage", new { id=item.UserId})';return false;" class="btn btn-primary">Edit</button>
            </td>
        </tr>
    }

</table>
<button onclick="location.href='@Url.Action("Index", "Manage")';return false; " class="btn btn-primary">Back to list</button>

