@model ConcremoteDeviceManagment.Models.AspNetUserRoles

@{
    ViewBag.Title = "UserEdit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UserEdit</h2>

@using (Html.BeginForm("UserEdit", "Manage"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>AspNetUserRoles</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.UserId)
        @Html.HiddenFor(model => model.AspNetUsers.Id)
        @Html.HiddenFor(model => model.AspNetUsers.PasswordHash)
        @Html.HiddenFor(model => model.AspNetUsers.LockoutEnabled)
        @Html.HiddenFor(model => model.AspNetUsers.SecurityStamp)

        <div class="form-group">
            @Html.Label("Email", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.AspNetUsers.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AspNetUsers.Email, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Email bevestigd", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.AspNetUsers.EmailConfirmed, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AspNetUsers.EmailConfirmed, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Rechten", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.RoleId, (IEnumerable<SelectListItem>)ViewBag.SelectedRoles, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AspNetRoles.Name, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("LoginCount", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(m => m.AspNetUsers.AccessFailedCount, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.AspNetUsers.AccessFailedCount, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </div>
    </div>
    <div>
        <button onclick="location.href='@Url.Action("ManageAccounts", "Manage")';return false; " class="btn btn-primary">Back to list</button>
    </div>
}