@model List<ConcremoteDeviceManagment.Models.Device_Pricelist>

@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>*@
<table class="table table-hover">
    <tr class="btn-success">
        <th class="btn-success">
            @Html.DisplayName("BAS artikelnummer")
        </th>
        <th class="btn-success">
            @Html.DisplayName("Beschrijving")
        </th>
        <th class="btn-success">
            @Html.DisplayName("Aantal")
        </th>
        <th class="btn-success">
            @Html.DisplayName("Bouw Volgorde")
        </th>
        <th class="btn-success">
            @Html.DisplayName("Totaal Bedrag")
        </th>
        
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <i>@Html.DisplayFor(modelItem => item.Pricelist.bas_art_nr, new { htmlAttributes = new { @class = "form-control" } })</i>
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Pricelist.description, new { htmlAttributes = new { @class = "form-control" } })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.amount, new { htmlAttributes = new { @class = "form-control" } })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.assembly_order, new { htmlAttributes = new { @class = "form-control" } })
            </td>
            <td>
                € @decimal.Round(item.amount * item.Pricelist.Price, 2, MidpointRounding.AwayFromZero)
            </td>
            
        </tr>
    }
</table>
<button onclick="location.href='@Url.Action("Create", "Home")';return false;" class="btn btn-primary">Create Device</button>