@model ConcremoteDeviceManagment.Models.DeviceConfig

@{
    ViewBag.Title = "DeviceSteps";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>DeviceSteps</h2>

<div>
    <h4>DeviceConfig</h4>
    <hr />

    @ViewBag.value1

    @section Scripts {
        <script>
    $(document).ready(function () {
        $("#SelectedDevice").change(function (e) {
            var DeviceType = { "Device": $(this).val() };
            $.ajax({
                type: 'get',
                url: '@Url.Action("CreateDevice")',
                contentType: 'application/json; charset=utf-8',
                dataType: 'html',
                data: { "Device": $(this).val() },
                success: function (result) {

                    $("#target").html(result);
                },
                error: function (ex) {
                    alert("Something is wrong");
                }
            });

        });

    });
        </script>
    }

    @*<dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.DeviceType.name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.DeviceType.name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Active)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Active)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.VersionNr)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.VersionNr)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Date)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Date)
            </dd>

        </dl>*@
</div>
<p>
   @* @Html.ActionLink("Edit", "Edit", new { id = Model.Device_config_id }) |*@
    @Html.ActionLink("Back to List", "Index")
</p>


