@model ConcremoteDeviceManagment.Models.Stock

<div>
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 class="modal-title">Stock Detail</h3>
    </div>    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("BAS artikelnummer")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pricelist.bas_art_nr)
        </dd>

        <dt>
            @Html.DisplayName("Prijs")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pricelist.Price)
        </dd>
        <dt>
                @Html.DisplayName("Huidige voorraad")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Stock_amount)
            </dd>
            <dt>
                @Html.DisplayName("Minimale voorraad")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.min_stock)
            </dd>
            <dt>
               @Html.DisplayName("Maximale voorraad")
            </dt>
            <dd>
                @Html.DisplayFor(model => model.max_stock)
            </dd>
        <dt>
            @Html.DisplayName("Beschrijving")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pricelist.description)
        </dd>
        <dt>
            @Html.DisplayName("Leverancier")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pricelist.Leverancier)
        </dd>
        <dt>
            @Html.DisplayName("Artikelnummer Leverancier")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Pricelist.art_lev_nr)
        </dd>
    </dl>
</div>
<p>
    <button class="btn btn-warning" data-dismiss="modal">Close</button>
</p>