@model ConcremoteDeviceManagment.Models.Stock
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Stock</h4>
    <hr />
    <dl class="dropdown">
        <dt>
            @Html.DisplayName("BAS artikelnummer")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pricelist.bas_art_nr)
        </dd>

        <dt>
            @Html.DisplayName("Prijs ID")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pricelist.Price_id)
        </dd>
        <dt>
            @Html.DisplayName("Huidige voorraad")
        </dt>
        <dd>
            @Html.DisplayFor(model => model.stock_amount)
        </dd>
        <dt>
            @Html.DisplayName("Minimale voorraad")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.min_stock)
        </dd>

        <dt>
           @Html.DisplayName("Maximale voorraad")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.max_stock)
        </dd>

        <dt>
            @Html.DisplayName("Beschrijving")
        </dt>

        <dd>
           @Html.DisplayFor(model => model.Pricelist.description)
        </dd>
        <dt>
            @Html.DisplayName("Stuk Prijs")
        </dt>
        <dd>
            @Html.DisplayFor(model=> model.Pricelist.Price)
        </dd>
        <dt>
            @Html.DisplayName("Artikelnummer Leverancier")
        </dt>
        <dd>
           @Html.DisplayFor(model => model.Pricelist.art_lev_nr)
        </dd>
    </dl>
</div>
<p>
    <button onclick="location.href='@Url.Action("Edit", "Stock", new { id=Model.Price_id})';return false;" class="btn btn-primary">Edit</button> |
    <button onclick="location.href='@Url.Action("Index", "Stock")';return false; " class="btn btn-primary">Back to list</button>
</p>
