@model IEnumerable<ConcremoteDeviceManagment.Models.Stock>

@{
    /**/

    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if (HttpContext.Current.User.Identity.IsAuthenticated)

{
    <h2>Inventory</h2>
    <p class="text-success">@ViewBag.StatusMessage</p>
    using (Html.BeginForm("Index", "Stock", FormMethod.Get))
    {
    <p>
        <b>CMI: </b>@Html.Editor("StockCMI")
        <b>Article:</b> @Html.Editor("searchString")
        <input type="submit" value="Search CMI" class="btn" />

        @if (User.IsInRole("Assembly") || User.IsInRole("Admin"))
    {
        <a class="btn btn-success" data-modal="" href="~/Stock/CreatePartial" id="btnCreate">Create Stock Item</a>

}
    </p>
    }
    if (TempData["AlertMessage"] != null)
    {
        <p class="alert alert-success" id="successMessage">@TempData["AlertMessage"]</p>
    }
    <table class="table table-hover">
        <tr>
            <th>
                @Html.ActionLink("BAS CMI", "Index", new { sortOrder = ViewBag.CMISortParm }, new { htmlAttributes = new { @class = "form-control" } })
            </th>
            <th>
                @Html.ActionLink("Description", "Index", new { sortOrder = ViewBag.DescriptionSortParm })
            </th>
            <th>
                @Html.ActionLink("In Stock", "Index", new { sortOrder = ViewBag.CurrentStockSort })
            </th>
            <th>
                @Html.ActionLink("Min. Stock", "Index", new { sortOrder = ViewBag.MinStockSort })
            </th>
            <th>
                @Html.ActionLink("Max. Stock", "Index", new { sortOrder = ViewBag.MaxStockSort })
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <i>@Html.DisplayFor(modelItem => item.Pricelist.bas_art_nr)</i>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Pricelist.description)
                </td>
                <td>
                    @Convert.ToDecimal(item.Stock_amount).ToString("#,##")
                </td>
                <td>
                    @Convert.ToDecimal(item.min_stock).ToString("#,##")
                </td>
                <td>
                    @Convert.ToDecimal(item.max_stock).ToString("#,##")
                </td>
                @if (User.IsInRole("Assembly") || User.IsInRole("Admin"))
                {
                    <td>
                        <a href="@Url.Action("EditPartial", "Stock", new { id = item.id })" data-modal=""><span class="btn btn-primary">Edit</span></a>
                        <a href="@Url.Action("DetailPartial", "Stock", new { id = item.id })" data-modal=""><span class="btn btn-info">Details</span></a>
                        <a href="@Url.Action("DeletePartial", "Stock", new { id = item.id })" data-modal=""><span class="btn btn-danger">Delete</span></a>
                    </td>
                }
                else
                {
                    <td> </td>
                }
            </tr>

        }
    </table>
    <div id='myModal' class='modal fade in'>
        <div class="modal-dialog">
            <div class="modal-content">
                <div id='myModalContent'></div>
            </div>
        </div>
    </div>
    @section scripts{
        @Scripts.Render("~/Scripts/PopUpScripts/Stock.js")
    }
}
else
{
    Response.Redirect("~/Account/Login");
}