@model ConcremoteDeviceManagment.Models.Pricelist

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Pricelist</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.id_cat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_cat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_subcat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.id_subcat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.art_lev_nr)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.art_lev_nr)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Price_id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
