@model IEnumerable<ConcremoteDeviceManagment.Models.Pricelist>

@{
    ViewBag.Title = "Prijslijst";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Prijslijst</h2>
@using (Html.BeginForm("Index", "Device", FormMethod.Get))
{
<p>
    <b>CMI: </b>@Html.TextBox("PriceCMI")
    <input type="submit" value="Zoek CMI" class="btn" />
    <b>Leverancier:</b> @Html.TextBox("searchStringPrice")
    <input type="submit" value="Zoek Leverancier" class="btn" />
    @Html.ActionLink("Create New", "Create")
</p>
}
<table class="table">
    <tr>
        <th>
            @*@Html.DisplayName("BAS CMI")*@
            @Html.ActionLink("BAS CMI", "Index", new { sortOrder = ViewBag.CMISortParm })
        </th>
        <th>
            @Html.DisplayName("Leverancier Artikelnummer")
        </th>
        <th>
            @Html.DisplayName("Leverancier")
        </th>
        <th>
            @*@Html.DisplayName("Prijs")*@
            @Html.ActionLink("Prijs", "Index", new { sortOrder = ViewBag.PriceSortParm })
        </th>
        <th>
            @Html.DisplayName("Beschrijving")
        </th>
        <th>
            @Html.ActionLink("Actief", "Index", new { sortOrder = ViewBag.ActiveSortParm })
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.bas_art_nr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.art_lev_nr)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Leverancier)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Active)
            </td>
            <td>
                <button onclick="location.href='@Url.Action("Edit", "Device", new { id=item.Price_id})';return false;" class="btn btn-primary">Edit</button>
                <button onclick="location.href='@Url.Action("Details", "Device", new { id=item.Price_id})';return false;" class="btn btn-info">Details</button>
                <button onclick="location.href='@Url.Action("Delete", "Device", new { id=item.Price_id})';return false;" class="btn btn-danger">Delete</button>
            </td>
        </tr>
    }

</table>
