@model ConcremoteDeviceManagment.Models.Pricelist

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Pricelist</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("CategoryId")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryId)
        </dd>

        <dt>
            @Html.DisplayName("SubCategoryId")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SubCategoryId)
        </dd>

        <dt>
            @Html.DisplayName("Prijs")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayName("BAS Artikelnummer")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.art_lev_nr)
        </dd>

    </dl>
</div>
<p>
  @*  @Html.ActionLink("Edit", "Edit", new { id = Model.Price_id }) |*@
    <button onclick="location.href='@Url.Action("Edit", "Article",  new { id = Model.Price_id })';return false; " class="btn btn-primary">Edit</button>
    <button onclick="location.href='@Url.Action("Index", "Article")';return false; " class="btn btn-primary">Back to list</button>
</p>
