@model ConcremoteDeviceManagment.Models.Pricelist

@{
    Layout = "~/Views/Shared/Form_layout.cshtml";

}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
    <h3 class="modal-title">Stock Detail</h3>
</div>

@using (Html.BeginForm("Edit", "Article", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    if (TempData["AlertMessage"] != null)
    {
        <p class="alert alert-danger" id="successMessage">@TempData["AlertMessage"]</p>
    }
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Price_id)

        <div class="form-group">
            @Html.Label("CategoryId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.CategoryId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("SubCategoryId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SubCategoryId, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SubCategoryId, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Prijs", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Price, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Price, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Leverancier Artikelnummer", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.art_lev_nr, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.art_lev_nr, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Leverancier", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(m => m.Leverancier, (IEnumerable<SelectListItem>)ViewBag.SelectedLeverancier, new { @class = "form-control" })

                @Html.ValidationMessageFor(model => model.Leverancier, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("BAS Artikelnummmer", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.bas_art_nr, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.bas_art_nr, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("Beschrijving", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.description, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.description, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            @Html.Label("Actief", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    @Html.EditorFor(model => model.Active)
                    @Html.ValidationMessageFor(model => model.Active, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-primary" />
                <button class="btn btn-warning" data-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
}
